.profileContainer {
  width: 100%;
  height: 100vh;
  padding: 0.5rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
  .profileSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    img {
      width: 7rem;
      height: 7rem;
      border: 2px solid red;
      border-radius: 50%;
      margin-bottom: 0.45rem;
    }

    .name {
      font-weight: 600;
      font-size: 1.2rem;
    }
    .username {
      font-size: 1rem;
      opacity: 0.9;
    }
  }

  form {
  }
}
