.profileContainer {
  width: 100%;
  height: 100vh;
  padding: 0.5rem;
}
.profileContainer .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profileContainer .header p {
  font-size: 1.4rem;
  font-weight: 600;
}
.profileContainer .header .logoutContainer p {
  display: none;
}
.profileContainer .profileSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
.profileContainer .profileSummary .DPContainer {
  position: relative;
}
.profileContainer .profileSummary .DPContainer img {
  width: 7rem;
  height: 7rem;
  border: 2px solid red;
  border-radius: 50%;
  margin-bottom: 0.45rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.profileContainer .profileSummary .DPContainer .clickableCamera {
  position: absolute;
  bottom: 5px;
  right: 0;
  background: rgba(130, 180, 255, 0.682);
  border-radius: 50%;
  padding: 4px;
  display: flex;
  border: 1px solid #ccc;
  cursor: pointer;
}
.profileContainer .profileSummary .imageInput {
  display: none;
  border: 2px solid red;
}
.profileContainer .profileSummary .name {
  font-weight: 600;
  font-size: 1.2rem;
}
.profileContainer .profileSummary .username {
  font-size: 1rem;
  opacity: 0.9;
}
.profileContainer form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileContainer form .names,
.profileContainer form .usernames,
.profileContainer form .passwords {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.profileContainer form .names label,
.profileContainer form .usernames label,
.profileContainer form .passwords label {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}
.profileContainer form .names input,
.profileContainer form .usernames input,
.profileContainer form .passwords input {
  font-size: 1.4rem;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0.7rem;
  background: #f1f1f1;
}
.profileContainer form .editProfileBtn {
  font-size: 1.45rem;
  margin: 1.3rem 0 0.8rem 0;
  padding: 0.65rem 2rem;
  border: none;
  background: rgb(10, 130, 229);
  color: whitesmoke;
}
.profileContainer form .editProfileBtn:active {
  transform: scale(0.9);
}
.profileContainer form .deleteUserBtn {
  font-size: 1.45rem;
  margin: 1.3rem 0 0.8rem 0;
  padding: 0.65rem 2rem;
  border: none;
  background: rgb(229, 10, 10);
  color: whitesmoke;
  display: flex;
  align-items: center;
}
.profileContainer form .deleteUserBtn:active {
  transform: scale(0.9);
}

@media (min-width: 1024px) {
  .profileContainer {
    padding: 0.5rem 1.5rem;
    background: #e4f3fb;
  }
  .profileContainer .header {
    padding: 0.3rem 1rem;
  }
  .profileContainer .header .backArrow {
    width: 2rem;
    height: 2rem;
  }
  .profileContainer .header p {
    font-size: 2rem;
  }
  .profileContainer .header .logoutContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: rgb(232, 13, 13);
    color: white;
    padding: 0.4rem 0.8rem;
    cursor: default;
  }
  .profileContainer .header .logoutContainer:active {
    transform: scale(0.9);
  }
  .profileContainer .header .logoutContainer p {
    display: inline-block;
    font-size: 0.95rem;
  }
  .profileContainer .profileSummary .DPContainer img {
    width: 10rem;
    height: 10rem;
  }
  .profileContainer .profileSummary .DPContainer .clickableCamera {
    bottom: 1rem;
    right: 0.5rem;
  }
}/*# sourceMappingURL=Profile.module.css.map */