.profileContainer {
  width: 100%;
  height: 100vh;
  padding: 0.5rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 1.4rem;
      font-weight: 600;
    }

    .logoutContainer {
      p {
        display: none;
      }
    }
  }
  .profileSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;

    .DPContainer {
      position: relative;
      img {
        width: 7rem;
        height: 7rem;
        border: 2px solid red;
        border-radius: 50%;
        margin-bottom: 0.45rem;
        object-fit: cover;
      }
      .clickableCamera {
        position: absolute;
        bottom: 5px;
        right: 0;
        background: rgba(130, 180, 255, 0.682);
        border-radius: 50%;
        padding: 4px;
        display: flex;
        border: 1px solid #ccc;
      cursor: pointer;
      }
    }

    .imageInput {
      display: none;
      border: 2px solid red;
    }

    .name {
      font-weight: 600;
      font-size: 1.2rem;
    }
    .username {
      font-size: 1rem;
      opacity: 0.9;
    }
  }

  form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .names,
    .usernames,
    .passwords {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
      }

      input {
        font-size: 1.4rem;
        padding: 0.5rem 0.8rem;
        border: none;
        border-radius: 0.7rem;
        background: #f1f1f1;
      }
    }

    .editProfileBtn {
      font-size: 1.45rem;
      margin: 1.3rem 0 0.8rem 0;
      padding: 0.65rem 2rem;
      border: none;
      background: rgb(10, 130, 229);
      color: whitesmoke;

      &:active {
        transform: scale(0.9);
      }
    }
    .deleteUserBtn {
      font-size: 1.45rem;
      margin: 1.3rem 0 0.8rem 0;
      padding: 0.65rem 2rem;
      border: none;
      background: rgb(229, 10, 10);
      color: whitesmoke;
      display: flex;
      align-items: center;

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

@media (min-width: 1024px) {
  .profileContainer {
    padding: 0.5rem 1.5rem;
    background: #e4f3fb;

    .header {
      padding: 0.3rem 1rem;

      .backArrow {
        width: 2rem;
        height: 2rem;
      }
      p {
        font-size: 2rem;
      }

      .logoutContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: rgb(232, 13, 13);
        color: white;
        padding: 0.4rem 0.8rem;
        cursor: default;

        &:active {
          transform: scale(0.9);
        }
        p {
          display: inline-block;
          font-size: 0.95rem;
        }
      }
    }

    .profileSummary {
      .DPContainer {
        img {
          width: 10rem;
          height: 10rem;
        }
        .clickableCamera {
          bottom: 1rem;
        right: 0.5rem;
        }
      }
    }
  }
}
