.profileContainer {
  width: 100%;
  height: 100vh;
  padding: 0.5rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 1.4rem;
      font-weight: 600;
    }

    .logoutContainer {
      p {
        display: none;
      }
    }
  }
  .profileSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    img {
      width: 7rem;
      height: 7rem;
      border: 2px solid red;
      border-radius: 50%;
      margin-bottom: 0.45rem;
    }

    .name {
      font-weight: 600;
      font-size: 1.2rem;
    }
    .username {
      font-size: 1rem;
      opacity: 0.9;
    }
  }

  form {
  }
}

@media (min-width: 1024px) {
  .profileContainer {
    padding: 0.5rem 1.5rem;

    .header {
      padding: 0.3rem 1rem;

      .backArrow {
        width: 2rem;
        height: 2rem;
      }
      p {
        font-size: 2rem;
      }

      .logoutContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: rgb(232, 13, 13);
        color: white;
        padding: 0.4rem 0.8rem;
        cursor: default;

        &:active {
          transform: scale(0.90);
        }
        p {
          display: inline-block;
          font-size: 0.95rem;
        }
      }
    }
  }
}