.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2000;

  .modal {
    width: 100%;
    max-width: 420px;
    background: #fff;
    padding: 22px;
    border-radius: 14px 14px 0 0;
    animation: slideUp 0.32s ease forwards;

    h3 {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
    }

    p {
      font-size: 15px;
      margin-bottom: 20px;

      span {
        font-weight: 600;
      }
    }

    .btnRow {
      display: flex;
      justify-content: space-between;
      gap: 12px;

      .cancelBtn,
      .deleteBtn {
        flex: 1;
        padding: 10px 0;
        border-radius: 8px;
        border: none;
        font-size: 15px;
        cursor: pointer;
      }
      .cancelBtn {
        background: #e6e6e6;
      }

      .deleteBtn {
        background: #d9534f;
        color: white;
      }

      @keyframes slideUp {
        from {
          transform: translateY(100%);
        }
        to {
          transform: translateY(0%);
        }
      }
    }
  }
}
